{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/estyle.css' %}">
  <style>
 #bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
.gg{
    border: 2px;
    
    border-radius: 20px;
    width: 250px;
    height: 500px;
    background-color:rgba(1, 5, 24, 0.808);
    padding-top: 200px;
    
    
}
.nn{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
#p3{
    background-color: rgb(4, 70, 4);
    color: white;
}
  </style>
</head>

 <body  id="bg"style="background-image: url('{% static "images/Travel.jpg"%}') ;" no-repeat>
    <form action="" align="center" class="gg">
       
        
        <label for="" class="nn">Username :</label>
        <input type="text" name="" id=""> <br> <br>
        <label for="" class="nn">Password :</label>
        <input type="password" name="" id=""> <br><br>
        <button  id="p3">Login</button> <br><br>
        <a href="">Signup</a>    &nbsp;&nbsp;    <a href="">Forgot Password</a>

        
    </form>
    
</body>
</html>