{% extends 'index/master.html' %}
{% load static %}

{% block child_content %}
	
	
<section class="tm-banner">
	<!-- Flexslider -->
	<div class="flexslider flexslider-banner">
		<ul class="slides">
			<li>
				<div class="tm-banner-inner">
					<h1 class="tm-banner-title">Find <span class="tm-yellow-text">The Best</span> Place</h1>
					<p class="tm-banner-subtitle">For Your Holidays</p>
					<a href="#more" class="tm-banner-link">Learn More</a>
				</div>
				<img src="{% static 'img/banner-1.jpg' %}" alt="Image">
			</li>
			<li>
				<div class="tm-banner-inner">
					<h1 class="tm-banner-title">Looking<span class="tm-yellow-text">For</span> A best place</h1>
					<p class="tm-banner-subtitle">Pick Your Place</p>
					<a href="#more" class="tm-banner-link">Learn More</a>
				</div>
				<img src="{% static 'img/banner-2.jpg' %}" alt="Image" />
			</li>
			<li>
				<div class="tm-banner-inner">
					<h1 class="tm-banner-title">Find<span class="tm-yellow-text">Tour</span> Programs</h1>
					<p class="tm-banner-subtitle">For Your Holidays</p>
					<a href="#more" class="tm-banner-link">Learn More</a>
				</div>
				<img src="{% static 'img/banner-3.jpg' %}" alt="Image" />
			</li>
		</ul>
	</div>
</section>

	<!-- gray bg -->
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider flexslider-about effect2">
				<ul class="slides">
					<li>
						<img src="{% static 'img/about-1.jpg' %}" alt="image" />
						<div class="flex-caption">
							<h2 class="slider-title">Welcome To Holidays</h2>
							<h3 class="slider-subtitle">Holidays is a global platform that empowers entrepreneurs and small
								businesses with hotels and homes by providing full stack technology that increases
								earnings and eases operations. Bringing affordable and trusted accommodation that guests
								can book instantly.</h3>
							
							
						</div>
					</li>
					
				</ul>
			</div>
		</div>

		
	</section>

	

	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script> <!-- jQuery -->
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> <!-- bootstrap js -->
	<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script> <!-- flexslider js -->
	<script type="text/javascript" src="{% static 'js/templatemo-script.js' %}"></script> <!-- Templatemo Script -->
	<script>
		$(function () {

			// https://css-tricks.com/snippets/jquery/smooth-scrolling/
			$('a[href*=#]:not([href=#])').click(function () {
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top
						}, 1000);
						return false;
					}
				}
			});
		});
		$(window).load(function () {
			// Flexsliders
			$('.flexslider.flexslider-banner').flexslider({
				controlNav: false
			});
			$('.flexslider').flexslider({
				animation: "slide",
				directionNav: false,
				slideshow: false
			});
		});
	</script>
		{% endblock %}